<meta charset='{{ site.charset }}' />
<meta http-equiv='x-ua-compatible' content='ie=edge' />
<title>
    {%- if wp_title -%}
        {{ wp_title }} - {{ site.name }}
    {%- else -%}
        {{ site.name }}
    {%- endif -%}
</title>
<meta name='description' content='{{ post.metaDescription }}'>
<meta id='viewport' name='viewport' content='width=device-width, initial-scale=1' />
<meta name='google-site-verification' content='p-ei82SNfuv3WUcr5zNdCAKTAkN1lpK4x-rHbZz7kyw' />
<link rel='pingback' href='{{ site.pingback_url }}' />
<link rel='icon' href='{{ site.theme.link }}/assets/favicon.png' type='image/x-icon' />
{{ function('wp_head') }}